.companyinfo {
    padding: 40px 80px;
    .title {
        font-size: 14pt;
        .name {
            font-size: 18pt;
            font-weight: bold;
        }
    }
    .props ul {
        list-style-type: square type none;
    }
}