<div class="container">
    <table class="comparison">
        <tr *ngFor='let row of substitutions'>
            <td *ngFor='let sub of row' (click)="select(sub)" [ngClass]="{selected: sub.selected}">
                <div class="apptitle">
                    <img [src]="appInfo(sub.target.appid).icon">
                    <div class="title">{{ appInfo(sub.target.appid).storeinfo.title }}</div>
                    <div class="publisher">by {{ appInfo(sub.target.appid).developer?.name }}</div>
                    <div class="rating">{{ appInfo(sub.target.appid).storeinfo.rating }}</div>
                </div>
                <app-refinebar [appusage]='sub.all' [showModes]='false' [highlightApp]='sub.target.appid' [showLegend]='false'></app-refinebar>
                <div class="appdesc" [hidden]="!sub.selected">
                    <div class="summary">{{ appInfo(sub.target.appid).storeinfo.summary }}</div>
                    <div class="desc">{{ appInfo(sub.target.appid).storeinfo.description.split(' ').slice(0,50).join(' ') }}</div>
                    <app-company-list [app]='sub.target.appid'></app-company-list>
                </div>
            </td>
        </tr>
    </table>
    <!-- 
    <div class="comparison" *ngFor='let sub of substitutions'>
        <div class="title">
            <img [src]="appInfo(sub.target.appid).icon"> {{ appInfo(sub.target.appid).storeinfo.title }}
        </div>
        <app-refinebar [appusage]='sub.all' [showModes]='false' [highlightApp]='sub.target.appid' [showLegend]='false'></app-refinebar>
        <app-company-list [app]='sub.target.appid'></app-company-list>
    </div>
    -->
</div>