/* .main {
    height: 400px !important;
} */

svg {
    overflow: hidden;
    border: 1px solid #eee;
}

div.main {
    width: 100%;
    height: 100%;
    svg {
        width: 100%;
        height: 100%;
    }
}