<div class="top">
    <div class="adder">
        <ng2-completer [(ngModel)]="appToAdd" [datasource]="candidates" [minSearchLength]="0" placeholder="app name"></ng2-completer>
        <button (click)="addApp(appToAdd, $event)" [disabled]='!appToAdd'>Add</button>
        <button (click)="clearState()">Clear all</button>
    </div>
    <div class="rows" *ngFor="let appusage of selectedApps">
        <div class="appname">{{ appusage.appid }} ({{ appusage.mins }} mins)</div>
        <div class="hhmm">
            <input type="number" (ngModelChange)="appValueChanged()" [(ngModel)]="appusage.hh" maxlength="2">h
            <input type="number" (ngModelChange)="appValueChanged()" [(ngModel)]="appusage.mm" maxlength="2">m
        </div>
        <input type="range" (ngModelChange)="appValueChanged()" [(ngModel)]="appusage.mins" [min]="minUsage" [max]="maxUsage" [step]="stepUsage">
        <button class="clearButton" (click)="delete(appusage)">x</button>
    </div>
</div>