div.top {
    font-size: 12pt;
    font-family: 'Calibri';
    button {
        font-size: 12pt;
        background-color: white;
    }
    select {
        font-size: 11pt;
    }
    margin: 10px;
    padding: 10px;
    border: 1px solid #ae00ff;
    .rows {
        padding: 10px 5px;
        .appname {
            font-weight: bold;
        }
        width:100%;
        input {
            width: 80%;
        }
        border-bottom:1px solid #eee;
    }
}