<div class="top">
    <button (click)="clearState()">Clear all</button>
    <div class="adder">
        <ng2-completer [(ngModel)]="appToAdd" (selected)='addApp(appToAdd, $event)' [datasource]="candidates" [minSearchLength]="0" placeholder="app name"></ng2-completer>
        <button (click)="addApp(appToAdd, $event)" [disabled]='!appToAdd'>Add</button>
    </div>
    <div class="rows" *ngFor="let appusage of selectedApps">

        <div class="appname">{{ appusage.appid }} ({{ appusage.mins }} mins)</div>
        <div class="hhmm">
            <input type="number" (ngModelChange)="appValueChanged(appusage, $event)" [(ngModel)]="appusage.hh" maxlength="2"> hh,
            <input type="number" (ngModelChange)="appValueChanged(appusage, $event)" [(ngModel)]="appusage.mm" maxlength="2"> mm
        </div>
        <input type="range" (ngModelChange)="appValueChanged(appusage, $event)" [(ngModel)]="appusage.mins" [min]="minUsage" [max]="maxUsage" [step]="stepUsage">
        <button class="clearButton" (click)="delete(appusage)">x</button>
    </div>
</div>