div.root {
    height: 92vh;
    width: 100%;
    div.left,
    div.right {
        margin: 0px;
        vertical-align: top;
        display: inline-block;
        height: 100%;
    }
    div.left {
        padding-top: 50px;
        width: 15%;
        display: inline-block;
        //flex-direction: column;
        div.side-app {
            position: fixed;
            .sidebar {
                color: #fff;
                height: 50vh;
                max-height: 50vh;
            }
            .opened-panel {
                border: 0.5px solid #bbb;
                display: block;
                background: #fff;
                max-height: 500px;
                overflow-y: scroll;
                z-index: -1;
                position: absolute;
                -webkit-box-shadow: 0 15px 10px #777;
                -moz-box-shadow: 0 15px 10px #777;
                box-shadow: 0 15px 10px #777;
                -webkit-transform: rotate(3deg);
                -moz-transform: rotate(3deg);
                -o-transform: rotate(3deg);
                -ms-transform: rotate(3deg);
                transform: rotate(3deg);
            }
            .closed-panel {
                display: none;
            }
        }
        app-usagetable /deep/ div.top {
            border-bottom: 1px solid #eee;
        }
    }
    div.right {
        padding-top: 50px;
        width: 75%;
    }
    // this shoud be in its own 
    .focus {
        height: 20vh;
        padding: 0px 30px;
        .app {
            position: relative;
            padding: 10px 0px;
            font-size: 12pt;
            border-bottom: 1px solid #eee;
            .appicon {
                position: absolute;
                left: 0px;
                width: 60px;
            }
            .titledev {
                padding: 0px 0px 10px 80px;
                .title {
                    font-size: 18pt;
                    font-weight: bold;
                }
                .developer {
                    font-size: 16pt;
                }
                margin-bottom:1em;
            }
            .appdesc {
                padding: 0px 0px;
                max-width: 500px;
                * {
                    margin-bottom: 1em;
                }
            }
        }
    }
    // display: flex;
    // flex-direction: row;
    // flex-wrap: none;
    // align-content: flex-start;
    // align-items: stretch;
    // justify-content: center;
}

// .left {
//     flex-basis: 700px;
//     flex-grow: 0;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: none;
//     .top,
//     .bottom {
//         flex-grow: 1.0;
//     }
// }
// .right {
//     flex-grow: 1.0;
//     height: 100%;
// }