<div class="root">
    <div class="left">
        <app-usagetable></app-usagetable>
        <div class="focus">
            <div class="app" *ngIf="targettype == 'app'">
                <div class="title"> {{ target.storeinfo.title }} </div>
                <div *ngIf="target.developer" class="developer">by {{ target.developer?.name }}</div>
                <div *ngIf="target.storeinfo.rating" class="rating">{{ target.storeinfo.rating }}</div>
                <div class="appdesc" [hidden]="!target">
                    <div class="summary">{{ target.storeinfo.summary }}</div>
                    <div class="desc">{{ target.storeinfo.description.split(' ').slice(0,50).join(' ') }}</div>
                </div>
                <app-company-list [app]='target.app'></app-company-list>
            </div>
            <app-companyinfo *ngIf="targettype == 'company'" [selected]="target"></app-companyinfo>
        </div>
    </div>
    <div class="right">
        <app-usage-listener></app-usage-listener>
    </div>
</div>