<nav>
    <a routerLink="/add" routerLinkActive='active'>apps only</a>
    <a routerLink="/tiled" routerLinkActive='active'>all</a>
    <a routerLink="/company" routerLinkActive='active'>who</a>
    <a routerLink="/category" routerLinkActive='active'>why</a>
    <a routerLink="/geo" routerLinkActive='active'>where</a>
    <!-- <a routerLink="/single/refinebar" routerLinkActive='active'>by company</a>
    <a routerLink="/single/companybar" routerLinkActive='active'>by app</a>
    <a routerLink="/single/foobar" routerLinkActive='active'>don't click</a> -->
</nav>

<router-outlet></router-outlet>