html,
body {
    font-family: 'calibri';
    box-sizing: border-box;
    font-size: 12pt;
}

nav {
    margin: 20px 0px;
}

a {
    font-size: 24pt;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

a.active {
    border-bottom: 1px solid #bbb;
}